server:
  http:
    addr: 127.0.0.1:18000
    timeout: 1s
#  grpc:
#    addr: 127.0.0.1:19000
#    timeout: 1s
data:
  mongodb:
    url: **
    username: **
    password: **
    minPoolSize: 10
    maxPoolSize: 100
    db: **
moralis:
  url: **
  key: **